* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 15%;
    font-family: sans-serif;
}

#listContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.icons {
    height: 1rem;
}

.heading {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgray;
    padding: 1rem;
}

h1 {
    font-size: 1rem;
    color: #505050;
}

.addList {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgray;
    padding-right: 1rem;
}

.addText {
    border: none;
    font-style: italic;
    font-size: 1rem;
    padding: 1rem;
}

#list {
    display: flex;
    flex-direction: column;
}

.activity {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgray;
    padding: 1rem;
}

.actDetail input {
    margin-right: 0.5rem;
}

#clearBtn {
    border: none;
    background-color: #fdfbfb;
    color: darkgray;
    font-size: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}